export const JUPYTERHUB_BASE_URL = "{{ plugin.backend_base_url }}"
export const JUPYTERHUB_PASSWORD = "{{ plugin.custom.jupyterhub_password }}"
export const JUPYTERHUB_WEB_PREFIX = "{{ plugin.web_prefix }}"
