services:
  keto_admin:
    container_name: keto_admin
    hostname: keto_admin

    image: 'docker.io/oryd/keto:{{ constants.keto_version }}'

    user: root
    entrypoint: [ ]
    command: >-
      sh -c 'keto migrate up -c /etc/keto/config.yaml -y;
      keto serve -c /etc/keto/config.yaml --sqa-opt-out'

    ports:
      - '3939:8080'

    volumes:
      - '../../config/keto:/etc/keto:ro'
      - '{{ app_dirs.managed_dir }}/keto:/var/lib/keto:rw'
