[tool.black]
line-length = 120

[tool.poetry]
name = "lungo-cli"
version = "0.1.4"
description = "a fully-customizable home lab setup for small-to-mid-scale private on-premises deployments"
authors = ["raymond-u <36328498+raymond-u@users.noreply.github.com>"]
readme = "README.md"
repository = "https://github.com/raymond-u/lungo"
keywords = ["home lab", "self-hosting"]
packages = [{ include = "lungo_cli", from = "src" }]

[tool.poetry.dependencies]
python = "^3.11"
typer = { extras = ["all"], version = "^0.9.0" }
importlib-resources = "^6.0.1"
platformdirs = "^3.10.0"
cryptography = "^41.0.3"
pydantic = { extras = ["email"], version = "^2.4.2" }
pydantic-yaml = "^1.2.0"
jinja2 = "^3.1.2"
requests = "^2.31.0"

[tool.poetry.scripts]
lungo = "lungo_cli.app.main:app_wrapper"

[tool.poetry.group.dev.dependencies]
black = "^23.9.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
