{
    "log": {
        "access": {
            "type": "File",
            "path": "/var/log/v2ray/access.log",
            "level": "{{ 'Debug' if dev else 'Info' }}"
        },
        "error": {
            "type": "File",
            "path": "/var/log/v2ray/error.log",
            "level": "{{ 'Debug' if dev else 'Info' }}"
        }
    },
    "inbounds": [
        {
            "protocol": "trojan",
            "listen": "0.0.0.0",
            "port": "{{ config.network.https.port }}",
            "settings": {
                "users": [
                    {% for password in v2ray_passwords %}
                    "{{ password }}"
                    {% endfor %}
                ],
                "packetEncoding": "Packet"
            },
            "streamSettings": {
                "transport": "ws",
                "transportSettings": {
                    "path": "/app/v2ray"
                }
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom"
        }
    ]
}
