{% set FILEBROWSER_VER = 'v2.24.2' %}

FROM docker.io/filebrowser/filebrowser:{{ FILEBROWSER_VER }}
{% for account in users.accounts %}
RUN mkdir -p '/root/home/{{ account.username }}'
RUN ln -s '/mnt/home/{{ account.username }}' '/root/home/{{ account.username }}/home'
  {% for shared_dir in account.extra.shared_dirs %}
RUN ln -s '/mnt/{{ shared_dir.name }}' '/root/home/{{ account.username }}/{{ shared_dir.name }}'
  {% endfor %}
  {% for shared_dir in config.directories.shared_dirs %}
RUN ln -s '/mnt/{{ shared_dir.name }}' '/root/home/{{ account.username }}/{{ shared_dir.name }}'
  {% endfor %}
{% endfor %}
