{% set JUPYTERHUB_VER = '4.0.2' %}
{% set JUPYTERLAB_VER = '4.0.7' %}

FROM docker.io/jupyterhub/jupyterhub:{{ JUPYTERHUB_VER }}
RUN python3 -m pip install --no-cache-dir --upgrade setuptools pip
RUN python3 -m pip install --no-cache-dir 'jupyterlab=={{ JUPYTERLAB_VER }}'
{% for account in users.accounts %}
  {% if account.role == 'admin' %}
RUN useradd --no-log-init -g root -G sudo -m '{{ account.username }}'
  {% else %}
RUN useradd --no-log-init -g root -m '{{ account.username }}'
  {% endif %}
RUN echo '{{ account.username }}:{{ jupyterhub_password }}' | chpasswd
RUN ln -s '/mnt/home/{{ account.username }}' '/home/{{ account.username }}/home'
  {% for shared_dir in account.extra.shared_dirs %}
RUN ln -s '/mnt/{{ shared_dir.name }}' '/home/{{ account.username }}/{{ shared_dir.name }}'
  {% endfor %}
  {% for shared_dir in config.directories.shared_dirs %}
RUN ln -s '/mnt/{{ shared_dir.name }}' '/home/{{ account.username }}/{{ shared_dir.name }}'
  {% endfor %}
{% endfor %}
