{% set PRIVATEBIN_VER = '1.6.0' %}

FROM docker.io/privatebin/fs:{{ PRIVATEBIN_VER }}
USER root
COPY config/privatebin/conf.php /etc/privatebin/conf.php
COPY config/privatebin/site.conf /etc/nginx/http.d/site.conf
RUN apk --update add libcap && \
    setcap 'cap_net_bind_service=+ep' /usr/sbin/nginx && \
    chown nobody:www-data /etc/privatebin/conf.php && \
    chmod 644 /etc/nginx/http.d/site.conf
