{
    "log": {
        "access": "/var/log/xray/access.log",
        "error": "/var/log/xray/error.log",
        "loglevel": "{{ 'debug' if dev else 'warning' }}",
        "dnsLog": false
    },
    "inbounds": [
        {
            "protocol": "vless",
            "listen": "0.0.0.0",
            "port": {{ plugin.manifest.backend_port }},
            "settings": {
                "clients": [
                    {% for account in plugin.custom.xray_accounts %}
                    {
                        "email": "{{ account[0] }}",
                        "id": "{{ account[1]|string }}"
                    }
                    {{- '' if loop.last else ',' }}
                    {% endfor %}
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "ws",
                "security": "none",
                "tlsSettings": {
                    "alpn": [
                        "http/1.1"
                    ]
                },
                "wsSettings": {
                    "path": "{{ plugin.web_prefix }}"
                }
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom"
        }
    ]
}
