server {
    listen {{ plugin.manifest.backend_port }} default_server;
    listen [::]:{{ plugin.manifest.backend_port }} default_server;

    root /var/www;
    index index.php index.html index.htm;

    location / {
        # no-transform tells Cloudflare and others to not change the content of the file and thus breaking SRI
        # https://developers.cloudflare.com/cache/about/cache-control#other
        add_header Cache-Control "no-transform";
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass unix:/run/php-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        # Prevent exposing nginx + version to $_SERVER
        fastcgi_param SERVER_SOFTWARE "";
    }
}
