#file: noinspection YAMLDuplicatedKeys
#@formatter:off
{% set ALL -%}
      - GET
      - POST
      - DELETE
      - PATCH
      - PUT
      - HEAD
      - OPTIONS
{% endset %}
{% set AUTH -%}
  authenticators:
    - handler: cookie_session
    - handler: anonymous
  authorizer:
    handler: remote_json
  mutators:
    - handler: header
  errors:
    - handler: json
{% endset %}
{% set PASS -%}
  authenticators:
    - handler: noop
  authorizer:
    handler: allow
  mutators:
    - handler: noop
  errors:
    - handler: json
{% endset %}

{% set plugin_name = plugin.manifest.name %}

- id: {{ plugin_name }}-private
  match:
    url: '{{ plugin.oathkeeper_url_regex }}<(?:$|/)(?!(?:api/public|share|static)/).*>'
    methods:
      {{ ALL }}
  {{ AUTH }}

- id: {{ plugin_name }}-public
  match:
    url: '{{ plugin.oathkeeper_url_regex }}<(?=/(?:api/public|share|static)/).*>'
    methods:
      {{ ALL }}
  {{ PASS }}
