#file: noinspection YAMLDuplicatedKeys
#@formatter:off
{% set ALL -%}
      - GET
      - POST
      - DELETE
      - PATCH
      - PUT
      - HEAD
      - OPTIONS
{% endset %}
{% set AUTH -%}
  authenticators:
    - handler: cookie_session
    - handler: anonymous
  authorizer:
    handler: remote_json
  mutators:
    - handler: header
  errors:
    - handler: json
{% endset %}
{% set PASS -%}
  authenticators:
    - handler: noop
  authorizer:
    handler: allow
  mutators:
    - handler: noop
  errors:
    - handler: json
{% endset %}

{% set network = config.network %}
{% set plugins = config.plugins %}

{% set app_with_rules %}
  {% for plugin_output in plugin_outputs if plugins[plugin_output.manifest.name].enabled and plugin_output.oathkeeper_rules %}
    {% set plugin_web_path = plugin_output.manifest.web_path_name or plugin_output.manifest.name -%}
    {{ plugin_web_path ~ '$' ~ '|' ~ plugin_web_path ~ '/' }}{{ '|' if not loop.last }}
  {%- endfor %}
{% endset %}

- id: apps
  match:
    url: '{{ network.base_url }}app/<(?!(?:{{ '$|' ~ app_with_rules if app_with_rules else '$' }}))[^/]*><.*>'
    methods:
      {{ ALL }}
  {{ AUTH }}

{% for plugin_output in plugin_outputs %}
  {% if plugins[plugin_output.manifest.name].enabled and plugin_output.oathkeeper_rules %}
{{ plugin_output.oathkeeper_rules }}
  {% endif %}
{% endfor %}

- id: catch-all
  match:
    url: '{{ network.base_url }}<(?!app/.+).*>'
    methods:
      {{ ALL }}
  {{ PASS }}
