{% set directories = config.directories %}
{% set plugin_name = plugin.manifest.name %}

services:
  {{ plugin_name }}:
    container_name: {{ plugin_name }}
    hostname: {{ plugin_name }}

    build:
      context: {{ plugin.dirs.plugin_dir }}

    user: root
    entrypoint: [ ]
    command: sh -c 'umask 002; /init'

    networks:
      static:
        ipv4_address: {{ plugin.ip_address }}
    expose:
      - {{ plugin.manifest.backend_port }}

    volumes:
      - '{{ plugin.dirs.plugin_dir }}/config/rserver.conf:/etc/rstudio/rserver.conf:ro'
      - '{{ plugin.dirs.plugin_dir }}/config/rsession.conf:/etc/rstudio/rsession.conf:ro'
      - '{{ plugin.dirs.managed_dir }}:/var/lib/rstudio-server:rw'
      {% for account in users.accounts %}
        {% if account.extra.user_dir %}
      - '{{ account.extra.user_dir }}:/mnt/home/{{ account.username }}:rw'
        {% else %}
      - '{{ directories.users_dir }}/{{ account.username }}:/mnt/home/{{ account.username }}:rw'
        {% endif %}
        {% for shared_dir in account.extra.shared_dirs %}
      - '{{ shared_dir.source }}:/mnt/{{ shared_dir.name }}:{{ 'ro' if shared_dir.read_only else 'rw' }}'
        {% endfor %}
      {% endfor %}
      {% for shared_dir in directories.shared_dirs %}
      - '{{ shared_dir.source }}:/mnt/{{ shared_dir.name }}:{{ 'ro' if shared_dir.read_only else 'rw' }}'
      {% endfor %}

    restart: 'unless-stopped'
