Recover your account

{{ config.branding.name }} ( {{ config.network.base_url }} )

************
Hi {% raw %}{{ .Identity.traits.name.first }}{% endraw %},
************

Please use the code below to validate your identity. If you didn't request one, please feel free to ignore this email.

{% raw %}{{ .RecoveryCode }}{% endraw %}

This code will expire in one hour.

© 2024 {{ config.branding.name }}. All rights reserved.
