{% set network = config.network %}

{
    "routing": {
        "rules": [
            {
                "type": "field",
                "domain": [
                    "domain:westlake.edu.cn"
                ],
                "outboundTag": "vpn"
            },
            {
                "type": "field",
                "ip": [
                    "10.0.0.0/8",
                    "172.16.0.0/12"
                ],
                "outboundTag": "vpn"
            }
        ]
    },
    "outbounds": [
        {
            "tag": "vpn",
            "protocol": "vless",
            "settings": {
                "vnext": [
                    {
                        "address": "{{ network.hostname }}",
                        "port":
                        {{ network.https.port }},
                        "users": [
                            {
                                "id": "{{ account.id }}",
                                "encryption": "none"
                            }
                        ]
                    }
                ]
            },
            "streamSettings": {
                "network": "ws",
                "security": "tls",
                "wsSettings": {
                    "path": "/app/xray"
                }
            }
        }
    ]
}
