{% set KETO_VER = 'v0.11.1' %}

services:
  keto:
    container_name: keto_admin
    hostname: keto_admin

    image: 'docker.io/oryd/keto:{{ KETO_VER }}'
    entrypoint: [ ]
    command: keto serve -c /etc/keto/config.yaml --sqa-opt-out

    ports:
      - '3939:8080'

    volumes:
      - '../../config/keto:/etc/keto:ro'
      - '{{ app_dirs.managed_dir }}/keto:/var/lib/keto:rw'
