import type { AppInfo } from "$lib/types"

export function getAllApps(): AppInfo[] {
    const apps = [
        {% for plugin_output in plugin_outputs %}
            {% set plugin_name = plugin_output.manifest.name %}
            {% set plugin_web_path = plugin_output.manifest.web_path_name or plugin_name %}
        {
            name: "{{ plugin_name }}",
            path: "{{ plugin_web_path }}",
            descriptiveName: "{{ plugin_output.manifest.descriptive_name or plugin_name|capitalize }}",
            href: "/app/{{ plugin_web_path }}",
        },
        {% endfor %}
    ]

    return apps.sort((a, b) => a.descriptiveName.localeCompare(b.descriptiveName))
}
