settings:
  authmethod: proxy
  signup: false
  createuserdir: false
  userhomebasepath: /root

  defaults:
    scope: /
    locale: en
    viewmode: list
    singleclick: false
    sorting:
      by: name
      asc: true
    perm:
      admin: false
      execute: false
      create: true
      rename: true
      modify: true
      delete: true
      share: true
      download: true
    commands: [ ]
    hidedotfiles: true
    dateformat: false

  branding:
    name: ""
    disableexternal: true
    disableusedpercentage: false
    files: ""
    theme: ""
    color: ""

  tus:
    chunksize: 104857600
    retrycount: 5

  commands:
    after_copy: [ ]
    after_delete: [ ]
    after_rename: [ ]
    after_save: [ ]
    after_upload: [ ]
    before_copy: [ ]
    before_delete: [ ]
    before_rename: [ ]
    before_save: [ ]
    before_upload: [ ]

  shell: [ ]

  rules: [ ]

server:
  root: /
  baseurl: {{ plugin.web_prefix }}
  socket: ""
  tlskey: ""
  tlscert: ""
  port: "{{ plugin.manifest.backend_port }}"
  address: 0.0.0.0
  log: /var/log/filebrowser/filebrowser.log
  enablethumbnails: false
  resizepreview: false
  enableexec: false
  typedetectionbyheader: false
  authhook: ""

auther:
  header: X-Remote-User
