{% for plugin_output in plugin_outputs %}
    {% if plugin_output.manifest.have_backend and config.plugins[plugin_output.manifest.name].enabled %}
{{ plugin_output.nginx_site }}
    {% endif %}
{% endfor %}
