{% set APP_NAME = 'rstudio' %}

{% if config.modules.rstudio.enabled %}
location = /app/{{ APP_NAME }} {
    include snippets/proxy.conf;
    include snippets/auth.conf;

    if ($arg_iframe) {
        return 307 $http_x_forwarded_proto://$http_x_forwarded_host/app/{{ APP_NAME }}/?$args;
    }

    proxy_pass http://node;
}

location /app/{{ APP_NAME }}/ {
    include snippets/proxy.conf;
    include snippets/auth.conf;

    if ($arg_iframe) {
        return 480;
    }

    # Just pass them through because websocket requests have no referer header and cannot be reliably patched
    if ($http_upgrade ~* websocket) {
        return 480;
    }

    if ($http_referer ~* \?.*iframe=1.*$) {
        return 307 $http_x_forwarded_proto://$http_x_forwarded_host$escaped_uri?iframe=1&$args;
    }

    error_page 480 = @{{ APP_NAME }};
    proxy_pass http://node;
}

location @{{ APP_NAME }} {
    include snippets/proxy.conf;
    include snippets/auth.conf;

    # Break into two lines to avoid regex capturing group being overwritten
    rewrite ^ $escaped_uri?$filtered_args?;
    rewrite ^/app/{{ APP_NAME }}/(.*)$ /$1 break;

    proxy_set_header X-RStudio-Root-Path /app/{{ APP_NAME }};
    proxy_pass http://{{ APP_NAME }};
    proxy_redirect ~*^(?:https?://[^/]+)?/app/{{ APP_NAME }}([^?]*)\??(.*)$ $http_x_forwarded_proto://$http_x_forwarded_host/app/{{ APP_NAME }}$1?iframe=1&$2;
}
{% endif %}
